/* Constantes: */

:root {

    --page-color: #3B3291;
    --main-color: #FFFF00;
    --neutral-color: #FFFFFF;
    --contrast-color: #424242;

}

/* Estilos: */

#home, #about-me, #skills, #tools, #projects, #scholarity {

    height: auto;
    width: 100%;
    min-height: 100%;
    padding: 150px 50px 50px 50px;

}

#about-me h2, #skills h2, #tools h2, #projects h2, #scholarity h2 {

    font-size: 30px;
    font-weight: 600;
    text-align: start;
    color: var(--main-color);

}

#skills .skill, #tools i, #projects figure {

    min-height: 250px;
    border: 2px solid var(--main-color);
    border-radius: 10px;

}

/* Responsividade: */

@media (max-width: 1200px) {

    #home, #about-me, #skills, #tools, #projects, #scholarity {

        padding: 120px 20px 20px 20px;
    
    }

}

@media (max-width: 767px) {

    #about-me h2, #skills h2, #tools h2, #projects h2, #scholarity h2 {

        text-align: center;
    
    }

}