/* Estilos: */

#home {

    height: auto;
    width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(0deg, #FFFFFF, #8FD7F6);
    padding: 115px 15px 15px 15px;
    overflow: hidden;

}

#home img {

    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}

#home #banner {

    height: 450px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    padding: 15px;
    z-index: 2;

}

#home #banner #photo {

    height: 300px;
    width: 300px;
    background-color: var(--contrast-color);
    background-image: url("../Images/Photo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    text-decoration: none;
    animation: Photo_Transition 3s linear infinite alternate running;
    overflow: hidden;
    cursor: pointer;
    transition: 2s;

}

/*

    Sintaxe Contraída - Propriedade Animation:

    animation: name duration timing-function delay iteration-count direction fill-mode play-state;

*/

#home #banner #photo:hover {

    background-image: url("../Images/GitHub.png") !important;
    animation-play-state: paused;

}

#home #title {

    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: var(--main-color);
    text-align: center;
    
}

#home #title h1 {

    font-size: 40px;
    font-weight: 800;

}

#home #title h2 {

    font-size: 25px;
    font-weight: 600;

}

#home #title #contacts {

    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;

}

#home #title #contacts a {

    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    text-decoration: none;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;

}

#home #title #contacts a:hover {

    background-color: var(--contrast-color);

}

#home #title #contacts a i {

    font-size: 35px;
    color: var(--main-color);

}

/* Animações: */

@keyframes Photo_Transition {

    from {

        background-image: url("../Images/Photo.jpg");

    }

    to {

        background-image: url("../Images/GitHub.png");

    }

}

/* Responsividade: */

@media (max-width: 1050px) {

    #home #banner {

        height: 300px;
        width: 650px;
        background-color: var(--contrast-color);
    
    }

    #home #banner #photo {

        height: 200px;
        width: 200px;
    
    }

    #home #title h1 {

        font-size: 30px;
    
    }
    
    #home #title h2 {
    
        font-size: 20px;
    
    }

    #home #title #contacts a i {

        font-size: 28px;

    }

}

@media (max-width: 767px) {

    #home #banner {

        height: 450px;
        width: 300px;
        flex-direction: column;
    
    }

    #home #title #contacts a i {

        font-size: 20px;

    }

}